<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Action_1_Idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1540,140}</string>
                <key>spriteSourceSize</key>
                <string>{1540,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{1540,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Action_2_Run.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1120,140}</string>
                <key>spriteSourceSize</key>
                <string>{1120,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{1120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Action_3_Jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,140}</string>
                <key>spriteSourceSize</key>
                <string>{560,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{560,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Action_4_Fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,140}</string>
                <key>spriteSourceSize</key>
                <string>{560,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{560,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Action_5_Take Hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,140}</string>
                <key>spriteSourceSize</key>
                <string>{560,140}</string>
                <key>textureRect</key>
                <string>{{0,560},{560,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Action_6_Death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1260,140}</string>
                <key>spriteSourceSize</key>
                <string>{1260,140}</string>
                <key>textureRect</key>
                <string>{{0,700},{1260,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Action_7_Attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,140}</string>
                <key>spriteSourceSize</key>
                <string>{840,140}</string>
                <key>textureRect</key>
                <string>{{0,840},{840,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Action_8_Dash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,140}</string>
                <key>spriteSourceSize</key>
                <string>{560,140}</string>
                <key>textureRect</key>
                <string>{{0,980},{560,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero knight 2.png</string>
            <key>size</key>
            <string>{1540,1120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e601d0d163670747077a023b75c0cdfd:0a6b306d5dcf49a50824c6a1e8b0da03:0b82c027603d665e37337360c59ee9e3$</string>
            <key>textureFileName</key>
            <string>hero knight 2.png</string>
        </dict>
    </dict>
</plist>
